/* CONTENT BOXES */
.border-right {
  border-right: 1px solid #E4E7EA !important;
}

.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.passed-grade {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.76px;
  text-align: right;
  white-space: nowrap !important;
}
.failed-grade {
  color: #A4B7C1;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.76px;
  text-align: right;
  white-space: nowrap !important;
}
